#box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#base{
	background: repeating-linear-gradient(-55deg, #222, #222 10px, #333 10px, #333 20px);
	display: inline-block;
	padding: 20px 20px 20px 20px;
	text-align: center;
	color: white;
	border: 3px solid white;
	font-family: 'Josefin Sans', sans-serif;
}
body{
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}
.password, .username{
	padding: 9px 15px 5px 15px;
	margin: none;
	border: none;
	width: 250px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: px;
	border: 3px solid black;
	-webkit-transition: 0.3s;
    transition: 0.3s;
}

.password:focus, .username:focus {
    border: 3px solid slateblue;
}
#header{
	font-size: 30px;
	margin: 0px 0px;
	color: #406;
	padding: 5px;
	color:white;
	font-family: 'Josefin Sans', sans-serif;
	border-bottom: 2px solid white;
	/*float: right;*/
}
button{
	border: none;
	text-align: center;
	padding: 10px 20px;
	background-color: rgba(0,191,255,0.75);
	color: cornsilk;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	font-family: 'Josefin Sans', sans-serif;
	cursor: pointer;
	border: 2px solid white;
}
.header{
	
	top: 0px;
	left: 0px;
	min-width: 97.5%;
	max-width: 100%;
	position: fixed;
	padding: 10px 20px;
	background-color: ghostwhite;
	border-bottom: 10px solid deepskyblue;
	animation: mymove 10s infinite;
}
@keyframes mymove{
	25% {border-bottom: 10px solid slateblue;}
	25% {border-bottom: 10px solid midnightblue;}
}
.htitle{
	text-decoration: none;
	padding: 0;
	margin: 0;
	font-size: 35px;
	font-family: 'Josefin Sans', sans-serif;
	color: midnightblue;
}
.logout{
	text-decoration: none;
	border: none;
	margin-left: 10px;
	background-color: darkorange;
	padding: 10px 20px; 
	color: white;
	display: inline-block;
}
.wrong{
	margin-top: 5px;
	border-left: 5px solid red;
	border-right: 5px solid red;
	background-color: rgba(255,99,71,.8);
	width: 350px;
	color: white;
	text-align: center;
	padding: 5px 10px;
	font-family: 'Josefin Sans', sans-serif;
}

.modal {
	color: #406;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	overflow: auto;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close{
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: royalblue;
    color: white;
}

.modal-body {padding: 2px 16px;
	height: 300px;
	overflow: auto;
}

	
.modal-footer {
    padding: 2px 16px;
    background-color: royalblue;
    color: white;
}

.sign{
	text-decoration: none;
	border: none;
	margin-left: 10px;
	background-color: royalblue;
	padding: 10px 20px; 
	color: white;
	display: inline-block;	
	cursor: pointer;
}

form{
	font-size: 20px;
}
p.inprow     { display: table-row;  }
label.labl { display: table-cell; text-align: right; width:40%; color: rgb(25, 39, 80)}

.uname, .pass, .cpass, .mail{
	display: table-cell;
	width:50%;
	padding: 9px 15px 5px 15px;
	margin: 10px;
	border: none;
	width: 250px;
	font-family: 'Josefin Sans', sans-serif;
	border: 3px solid slateblue;
	-webkit-transition: 0.7s;
    transition: 0.7s;
}

.uname:focus, .pass:focus, .cpass:focus, .mail:focus {
    border: 3px solid indigo;
}

.register{
	border: none;
	text-align: center;
	padding: 10px 20px;
	background-color: royalblue;
	color: cornsilk;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	font-family: 'Josefin Sans', sans-serif;
	cursor: pointer;
	border: 2px solid white;
}