#box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#base{
	background: repeating-linear-gradient(-55deg, #222, #222 10px, #333 10px, #333 20px);
	display: inline-block;
	padding: 20px 20px 20px 20px;
	text-align: center;
	color: white;
	border: 3px solid white;
	font-family: 'Josefin Sans', sans-serif;
}
body{
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}
.addform{
	color: midnightblue;
}
form{
	font-size: 20px;
}
p.inprow     { display: table-row;  }
label.labl { display: table-cell; text-align: right; width:40%;}
/* input.name, input.cc, input.spoj, input.cf { display: table-cell;  width:50%} */

.name, .cc, .spoj, .cf{
	display: table-cell;
	width:50%;
	padding: 9px 15px 5px 15px;
	margin: 10px;
	border: none;
	width: 250px;
	font-family: 'Josefin Sans', sans-serif;
	border: 3px solid slateblue;
	-webkit-transition: 0.3s;
    transition: 0.3s;
}

.name:focus, .cc:focus, .spoj:focus, .cf:focus {
    border: 3px solid indigo;
}
.mcc, .mspoj, .mcf{
	display: table-cell;
	width:50%;
	padding: 9px 15px 5px 15px;
	border: none;
	width: 165px;
	font-family: 'Josefin Sans', sans-serif;
	border: 2px solid rgb(60, 60, 247);
	-webkit-transition: 0.5s;
    transition: 0.5s;
}

.mcc:focus, .mspoj:focus, .mcf:focus {
    border: 2px solid midnightblue;
}
#header{
	font-size: 30px;
	margin: 0px 0px;
	color: #406;
	padding: 5px;
	color:white;
	font-family: 'Josefin Sans', sans-serif;
	border-bottom: 2px solid white;
	/*float: right;*/
}
button{
	border: none;
	text-align: center;
	padding: 10px 20px;
	background-color: rgba(0,191,255,0.75);
	color: cornsilk;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	font-family: 'Josefin Sans', sans-serif;
	cursor: pointer;
	border: 2px solid white;
}
.header{
	
	top: 0px;
	left: 0px;
	min-width: 97.5%;
	max-width: 100%;
	position: fixed;
	padding: 10px 20px;
	background-color: ghostwhite;
	border-bottom: 10px solid deepskyblue;
	animation: mymove 10s infinite;
}
@keyframes mymove{
	25% {border-bottom: 10px solid slateblue;}
	25% {border-bottom: 10px solid midnightblue;}
}
.htitle{
	text-decoration: none;
	padding: 0;
	margin: 0;
	font-size: 35px;
	font-family: 'Josefin Sans', sans-serif;
	color: midnightblue;
}
.logout{
	text-decoration: none;
	border: none;
	margin-left: 10px;
	background-color: slateblue;
	padding: 10px 20px; 
	color: white;
	display: inline-block;
}
.add{
	text-decoration: none;
	border: none;
	margin-left: 10px;
	background-color: lightseagreen;
	padding: 10px 20px; 
	color: white;
	display: inline-block;	
	cursor: pointer;
}

.modify{
	text-decoration: none;
	border: none;
	margin-left: 10px;
	background-color: darkorange;
	padding: 10px 20px; 
	color: white;
	display: inline-block;	
	cursor: pointer;
}
.remove{
	text-decoration: none;
	border: none;
	margin-left: 10px;
	background-color: rgb(253, 32, 80);
	padding: 10px 20px; 
	color: white;
	display: inline-block;	
	cursor: pointer;
}

.delete{
	
	text-decoration: none;
	border: none;
	text-align: center;
	background-color: rgb(253, 32, 80);
	padding: 10px 20px; 
	color: white;
	display: inline-block;	
	cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content, .mmodal-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	overflow: auto;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
#mcontent{
	overflow: auto;
	
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close, .mclose, .rclose{
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus, 
.mclose:hover, .mclose:focus, 
.rclose:hover, .rclose:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.mmodal-header {
    padding: 2px 16px;
    background-color: rgb(252, 147, 18);
    color: white;
}

.rmodal-header {
    padding: 2px 16px;
    background-color: rgb(253, 32, 80);
    color: white;
}

.modal-body {padding: 2px 16px;
	height: 300px;
	overflow: auto;
}

.rmodal-body {padding: 2px 16px;
		height: 300px;
		overflow: auto;
		
}
	
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.mmodal-footer {
    padding: 2px 16px;
    background-color: rgb(252, 147, 18);
    color: white;
}

.rmodal-footer {
    padding: 2px 16px;
    background-color: rgb(253, 32, 80);
    color: white;
}

#content, #mcontent{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.parent {
	display: flex;
	flex-wrap: wrap;
}
  
.child {
	display: inline-block;
	background: whitesmoke;
	border: 2px solid grey;
    margin:10px 0 0 2%;
    height:50px;
	width: 47%;
	
}
h1{
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
	margin-bottom: 15px;
  }
table{
	width:100%;
	table-layout: fixed;
  }
  .tbl-header{
	background-color: rgba(255,255,255,0.3);
   }
  .tbl-content{
	height:160px;
	overflow-x:auto;
	margin-top: 0px;
	/* border: 1px solid rgba(255,255,255,0.3); */
  }
  th{
	padding: 20px 15px;
	text-align: left;
	font-weight: 500;
	font-size: 17px;
	color: #fff;
	text-transform: uppercase;
  }
  td{
	padding: 15px;
	text-align: left;
	vertical-align:middle;
	font-weight: 300;
	font-size: 15px;
	color: #fff;
	border-bottom: solid 1px rgba(255,255,255,0.15);
  }
  section{
	  background: #1F2739;
	  width: 400px;
	  margin: 10px;
  }

.profile{
	margin-bottom: 5px;
	color: indigo;
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	/* border-color: #000; */
}

.mname{
	background-color: rgba(0, 0, 0, 0.116);
	color: midnightblue;
	text-align: left;
	padding: 10px;
	/* border: 1px solid #ddd; */
	/* border-color: #000; */
}

.mcsc{
	border: 1px solid #ddd;
	color: midnightblue;
	text-align: left;
    padding: 8px;
    
	/* color: black;
	border-color: #000; */
}
.save{
	text-decoration: none;
	border: none;
	background-color: rgb(44, 156, 156);
	padding: 10px 20px; 
	color: white;
	display: inline-block;	
	cursor: pointer;
}

  .datepicker{
	text-align: center;
  }
  [type="date"] {
	background:#fff url(https://image.ibb.co/b5aGkT/calendar_image_png_3.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
	display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
  }
  input.datet {
	border: 2px solid white;
	background-color: rgba(45,0,120,0.1);
	padding: 3px 5px;
	color: white;
	box-shadow: inset 0 3px 6px rgba(255,255,255,0.2);
	width: 140px;
	margin: 10px auto;
  }
  .di{
	padding: 20px 15px;
	font-weight: 500;
	font-size: 17px;
	color: #fff;
	text-transform: uppercase;
  }

  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}