{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style.css'%}">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    </head>
    <body bgcolor="gainsboro">
        <div class="header">
            <a class="htitle"><b>Assessment</b></a>
            <font class="welcome" style="float: right;">
            {% if user.is_authenticated %}
            Welcome: {{user.username}} <a href="{%url 'logout'%}" class="logout"><b>Logout</b></a>
        	</font>
        	<br>
        	<div>
        		<a style="margin-right: 25px">Test Subject: 12 <!-- add total entity --></a>
    	    	<a style="margin-right: 25px">Last Sync: 12:04:2018 <!-- add date --></a>
	        	<a style="margin-right: 25px" class="add" id="addSub">Add</a>
        		<a style="margin-right: 25px">Modify</a>
        		<a style="margin-right: 25px">Remove</a>
        	</div>
        	<div id="myModal" class="modal">
                
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Add Test Subject</h2>
    </div>
    <div class="modal-body">
    	<form method="POST" class="addform">
    		{% csrf_token %}
    		<p class="inprow"><label for="handle" class="labl">Name: </label>{{UserForm.name}}</p>
    		<p class="inprow"><label for="ccname" class="labl">CodeChef: </label>{{UserForm.codechef}}</p>
			<p class="inprow"><label for="spojname" class="labl">SPOJ: </label>{{UserForm.spoj}}</p>
			<p class="inprow"><label for="cfname" class="labl">CodeForces: </label>{{UserForm.codeforce}}</p><br>
			<div style="display: block; text-align: center;"><button type="submit" class="add" style="margin-bottom: 10px">ADD</button></div>
		</form>
    </div>
    <div class="modal-footer"></div>
  	</div>
	</div>
            {% else %}
            <font class="welcome" style="float: right;">
            	Welcome: Guest
            </font>
        {% endif %}
        </div>
        {% if user.is_authenticated %}
        <br><br><br><br>
        <div id="content">
        	<!-- add content box -->
    	</div>
        {% else %}
        <div id="box">
            <div id="base">
                Please login to continue<br><br>
                <a href="{%url 'login'%}"><button class="Login">Login</button></a>
            </div>
        </div>
        {% endif %}
        <script>
            var modal = document.getElementById('myModal');
            var btn = document.getElementById("addSub");
            var span = document.getElementsByClassName("close")[0];

            btn.onclick = function() {
                modal.style.display = "block";
            }

            span.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).on('submit','.addform', function(event){
            event.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url 'add' %}',
                data:{
                    name:$('#handle').val(),
                    codechef:$('#ccname').val(),
                    spoj:$('#spojname').val(),
                    codeforce:$('#cfname').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success:function(){
                    $("#content").load(" #content");
                    $(".addform").load(" .addform")
                }
            })
        });
    </script>
</html>