{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>nightStalker</title>
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard/style.css'%}">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    </head>
    <body bgcolor="gainsboro">
        <div class="header">
            <a class="htitle"><b>Night Stalker</b></a>
            <font class="welcome" style="float: right;">
            {% if user.is_authenticated %}
            Welcome: {{user.username}} <a href="{%url 'logout'%}" class="logout"><b>Logout</b></a>
        	</font>
        	<br>
        	<div class="toolbox">
        		<a style="margin-right: 25px" class="profilec">Profiles : {{UserList|length}}</a>
	        	<a style="margin-right: 25px" class="add" id="addSub">Add</a>
        		<a style="margin-right: 25px" class="modify" id="modSub">Modify</a>
        		<a style="margin-right: 25px" class="remove" id="remSub">Remove</a>
        	</div>
        	<div id="myModal" class="modal">
                
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Add User Details</h2>
    </div>
    <div class="modal-body">
    	<form method="POST" class="addform">
    		{% csrf_token %}
    		<p class="inprow"><label for="handle" class="labl">Name: </label>{{UserForm.name}}</p>
    		<p class="inprow"><label for="ccname" class="labl">CodeChef: </label>{{UserForm.codechef}}</p>
			<p class="inprow"><label for="spojname" class="labl">SPOJ: </label>{{UserForm.spoj}}</p>
			<p class="inprow"><label for="cfname" class="labl">CodeForces: </label>{{UserForm.codeforce}}</p><br>
            <div style="display: block; text-align: center;"><button type="submit" class="add" style="margin-bottom: 10px">ADD</button>
                <button type="reset" class="add" style="margin-bottom: 10px; background-color: slategray">RESET</button></div>
		</form>
    </div>
    <div class="modal-footer"></div>
  	</div>
    </div>

    <!-- modify modal-->
    <div id="myModl" class="modal">
                
        <div class="mmodal-content">
          <div class="mmodal-header">
            <span class="mclose">&times;</span>
            <h2>Modify User Details</h2>
          </div>
          <div class="modal-body">
              <div id="mcontent">
                {% for user in UserList %}
                <form method="POST" action="{% url 'modify' user.pk %}">
                    {% csrf_token %}
                <table class="profile">
                    <tr>
                        <td colspan=2 class="mname"><a style="font-size: 1.5em; text-transform:uppercase"><b>{{user.name}}</b></a></td>
                        <td class="mname" style="text-align: center;"><button class="save" type="submit">Save</button></td>
                    </tr>
                    <tr>
                        <td class="mcsc">Codechef<br>{{mod.mcodechef}}</td>
                        <td class="mcsc">Spoj<br>{{mod.mspoj}}</td>
                        <td class="mcsc">Codeforces<br>{{mod.mcodeforce}}</td>
                    </tr>
                </table>
                </form>
                {% endfor %}
              </div>
          </div>
          <div class="mmodal-footer"></div>
            </div>
          </div>
        <!-- remove modal -->
        <div id="myMdl" class="modal">
                
            <div class="modal-content">
              <div class="rmodal-header">
                <span class="rclose">&times;</span>
                <h2>Remove User Profiles</h2>
              </div>
              <div class="rmodal-body">
                <form method="POST" action="{% url 'remove' %}">
                    {% csrf_token %}
                <div class="parent">
                    {% for user in UserList %}
                    <div class="child"><label class="container" style="vertical-align: middle; line-height: 50px;">{{user.name}}
                            <input type="checkbox" name="checks[]" value="{{user.pk}}">
                            <span class="checkmark"></span>
                          </label></div>
                    {% endfor %}
                  </div>
                  <div style="text-align: center; margin: 10px;"><button class="delete">Delete</button></div>
                </form>
              </div>
              <div class="rmodal-footer"></div>
                </div>
              </div>
            {% else %}
            <font class="welcome" style="float: right;">
            	Welcome: Guest
            </font>
        {% endif %}
        </div>
        {% if user.is_authenticated %}
        <br><br><br><br><br><br>
        <div id="content">
            <!-- add content box -->
            {% for UL in UserList %}
            <section>
                    <!--for demo wrap-->
                    <h1>{{UL.name}}</h1>
                    <div class="tbl-header">
                      <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                          <tr>
                            <th>Platform</th>
                            <th>Submissions</th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                    <div class="tbl-content">
                      <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                          <tr>
                              <td>CODECHEF</td>
                              <td>
                              {% if UL.codechef %}
                                <a id="{{UL.codechef}}">{{UL.totalCC}}</a>
                                {% else %}
                                <font style="color: sandybrown;">Not yet Added</font>
                                {% endif %}
                            </td>
                          
                          </tr>
                          <tr>
                            <td>SPOJ</td>
                            <td>
                                {% if UL.spoj %}
                                <a id="{{UL.spoj}}">{{UL.totalSJ}}</a>
                                  {% else %}
                                  <font style="color: sandybrown;">Not yet Added</font>
                                  {% endif %}
                            </td>
                            
                          </tr>
                          <tr>
                            <td>CODEFORCES</td>
                            <td>
                                {% if UL.codeforce %}
                                <a id="{{UL.codeforce}}">{{UL.totalCF}}</a>
                                  {% else %}
                                  <font style="color: sandybrown;">Not yet Added</font>
                                  {% endif %}
                              </td>
                            
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="datepicker">
                        <form method="POST" class="timeRanger" id="{{UL.name}}" data="{{UL.name}}" datacc="{{UL.codechef}}" datasj="{{UL.spoj}}" datacf="{{UL.codeforce}}">
                            {% csrf_token %}
                        <label for="dateitem" class="di">Pick the date range</label><br>
                        <input type="date" name="dateitem" id="fromdate" class="datet"> 
                        <input type="date" name="dateitem" id="todate" class="datet"><br>
                        <button type="submit" class="add">CHECK</button>
                        </form>
                    </div>
                    <br>
                  </section>
            {% endfor %}
            {% if not userList %}
            <div style="width: 100%;color:midnightblue"><p style="text-align: center; font-size: 100px; margin-top: 12%; margin-bottom: 0;">NOTHING!!</p><p style="text-align: center; font-size: 50px; margin: 0;">Your list is empty.</p></div>      
            {% endif %}

    	</div>
        {% else %}
        <div id="box">
            <div id="base">
                Please login to continue<br><br>
                <a href="{%url 'login'%}"><button class="Login">Login</button></a>
            </div>
        </div>
        {% endif %}
        <script>
            var modal = document.getElementById('myModal');
            var btn = document.getElementById("addSub");
            var span = document.getElementsByClassName("close")[0];

            btn.onclick = function() {
                modal.style.display = "block";
            }

            span.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
                else if (event.target == modl) {
                    modl.style.display = "none";
                }
                else if (event.target == mdl) {
                    mdl.style.display = "none";
                }
            }
            // modify
            var modl = document.getElementById('myModl');
            var bt = document.getElementById("modSub");
            var spn = document.getElementsByClassName("mclose")[0];

            bt.onclick = function() {
                modl.style.display = "block";
            }

            spn.onclick = function() {
                modl.style.display = "none";
            }

            
            //remove
            var mdl = document.getElementById('myMdl');
            var b = document.getElementById("remSub");
            var sn = document.getElementsByClassName("rclose")[0];

            b.onclick = function() {
                mdl.style.display = "block";
            }

            sn.onclick = function() {
                mdl.style.display = "none";
            }

            


        </script>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).on('submit','.addform', function(event){
            event.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url 'add' %}',
                data:{
                    name:$('#handle').val(),
                    codechef:$('#ccname').val(),
                    spoj:$('#spojname').val(),
                    codeforce:$('#cfname').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success:function(){
                    $(".name").load(" .name");
                    $(".cc").load(" .cc");
                    $(".spoj").load(" .spoj");
                    $(".cf").load(" .cf");
                    $("#content").load(" #content");
                    //$(".profilec").load(" .profilec");
                    
                }
            })
        });
        $(".timeRanger").submit(function(et){
            
            var ID = $(this).attr('data');
            var CCID = $(this).attr('datacc');
            var SJID = $(this).attr('datasj');
            var CFID = $(this).attr('datacf');
            console.log('request send');
            et.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url 'dQ' %}',
                data:{
                    From:$('#fromdate').val(),
                    To:$('#todate').val(),
                    id: ID,
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                dataType: 'json',
                success:function(packet){
                    console.log('succeed' + packet.cc + packet.spoj + packet.cf)
                    console.log(packet.cc);
                    console.log(typeof(packet.cc))
                    $("#"+CCID).text(packet.cc);
                    $("#"+SJID).text(packet.spoj);
                    $("#"+CFID).text(packet.cf);
                }
            })
        });
    </script>
</html>