#box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#base{
	background: repeating-linear-gradient(-55deg, #222, #222 10px, #333 10px, #333 20px);
	display: inline-block;
	padding: 20px 20px 20px 20px;
	text-align: center;
	color: white;
	border: 3px solid white;
	font-family: 'Josefin Sans', sans-serif;
}
body{
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}
.addform{
	color: midnightblue;
}
form{
	font-size: 20px;
}
p     { display: table-row;  }
label { display: table-cell; text-align: right; width:40%;}
input { display: table-cell;  width:50%}

.name, .cc, .spoj, .cf{
	padding: 9px 15px 5px 15px;
	margin: 10px;
	border: none;
	width: 250px;
	font-family: 'Josefin Sans', sans-serif;
	border: 3px solid slateblue;
	-webkit-transition: 0.3s;
    transition: 0.3s;
}

.name:focus, .cc:focus, .spoj:focus, .cf:focus {
    border: 3px solid indigo;
}
#header{
	font-size: 30px;
	margin: 0px 0px;
	color: #406;
	padding: 5px;
	color:white;
	font-family: 'Josefin Sans', sans-serif;
	border-bottom: 2px solid white;
	/*float: right;*/
}
button{
	border: none;
	text-align: center;
	padding: 10px 20px;
	background-color: rgba(0,191,255,0.75);
	color: cornsilk;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	font-family: 'Josefin Sans', sans-serif;
	cursor: pointer;
	border: 2px solid white;
}
.header{
	
	top: 0px;
	left: 0px;
	min-width: 97.5%;
	max-width: 100%;
	position: fixed;
	padding: 10px 20px;
	background-color: ghostwhite;
	border-bottom: 10px solid deepskyblue;
	animation: mymove 10s infinite;
}
@keyframes mymove{
	25% {border-bottom: 10px solid slateblue;}
	25% {border-bottom: 10px solid midnightblue;}
}
.htitle{
	text-decoration: none;
	padding: 0;
	margin: 0;
	font-size: 35px;
	font-family: 'Josefin Sans', sans-serif;
	color: midnightblue;
}
.logout{
	text-decoration: none;
	border: none;
	margin-left: 10px;
	background-color: darkorange;
	padding: 10px 20px; 
	color: white;
	display: inline-block;
}
.add{
	text-decoration: none;
	border: none;
	margin-left: 10px;
	background-color: lightseagreen;
	padding: 10px 20px; 
	color: white;
	display: inline-block;	
	cursor: pointer;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}